.fw-bold {
font-weight: 700 !important;
}

.fw-medium {
font-weight: 600 !important;
}

.fw-semi-bold {
font-weight: 500 !important;
}

.back-to-top {
position: fixed;
display: none;
right: 30px;
bottom: 30px;
z-index: 99;
}
